<div class="block">
  <div class="row">
    <div class="col-md-12">
      <div class="sidebar20">
        <div class="movie3">
          <div class="header-for-anime">
            <h3>Результат поиска</h3>
          </div>

          <div class="trip4"></div>

          <div class="content-item3", style=" margin-left: 8px;">
            <% if @results_a.present?%>
              <% @results_a.each do |result| %>
                <% if result.score.present?%>
                  <div class="image-wrapper2" data-shikimori-id="<%= result.shikimori_id %>">
                    <a href="<%=anime_link_path(result.shikimori_id)%>" onclick="reloadClickedPage(event, this)" >

                      <%= image_tag "https://shikimori.one/system/animes/original/#{result.shikimori_id}.jpg",
                       alt: "Название фильма",
                       class: "current-image3",
                       onerror: "this.onerror=null; this.src='https://shikimori.one/assets/globals/missing_original.jpg';" %>

                      <p class="title-for-showall-anime">  <%= result.title.gsub(/\s*\[ТВ-(\d+).*?\]\s*/, ' \1').length > 15 ? "#{result.title.gsub(/\s*\[ТВ-(\d+).*?\]\s*/, ' \1')[0..14]}..." : result.title.gsub(/\s*\[ТВ-(\d+).*?\]\s*/, ' \1') %></p>
                    </a>
                  </div>
                <% end %>
              <% end %>
            <%else%>
            
              <div class="result__is_empty_container">
                <h1 class="result_is_empty">Ничего не найдено</h1>
              </div>

              <div class="indentation_s2"></div>
            <% end %>
          </div>

          <div class="indentation_s"></div>

        </div>
      </div>
    </div>
  </div>

</div>

