<div class="block">
  <div class="row">
    <div class="col-md-12">
      <div class="sidebar4">
        <div class="movie3">
          <div class="header-for-anime">
            <h3>Культовые аниме</h3>
          </div>

          <div class="trip4"></div>

          <div class="content-item2">
            <% @animes.order(score: :desc).each do |anime| %>
              <% if anime.score.present? %>
                <div class="image-wrapper2" data-shikimori-id="<%= anime.shikimori_id %>">
                  <a href="<%=anime_link_path(anime.shikimori_id)%>" onclick="reloadClickedPage(event, this)" >
                    <%= image_tag "https://shikimori.one/system/animes/original/#{anime.shikimori_id}.jpg", alt: "Название фильма", class: "current-image3" %>
                    <p class="title-for-showall-anime"><%= anime.title.gsub(/\[ТВ-(\d+)\]/, '\1').length > 15 ? "#{anime.title[0..14].gsub(/\[ТВ-(\d+)\]/, '\1')}..." : anime.title.gsub(/\[ТВ-(\d+)\]/, '\1') %></p>
                  </a>
                </div>
              <% end %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

