<div class="row">
  <div class="col-md-8">
    <div class="sidebar2">
      <div class="movie">
        <div class="header-for-anime">
          <h3>Список Аниме</h3>
        </div>

        <div class="content-item">
          <% no_anime_in_season = true %>
          <% @animes.each do |anime| %>
            <% if anime.in_current_season? %>
              <% no_anime_in_season = false %>
              <div class="item">
                <div class="image">
                  <a href="<%=anime_link_path(anime.shikimori_id)%>"><%= image_tag "https://shikimori.one/system/animes/original/#{anime.shikimori_id}.jpg", alt: "Название фильма", class: "current-image" %></a>
                </div>
                <div class="description">
                  <a href="<%=anime_link_path(anime.shikimori_id)%>"><p><%= anime.title %></p></a>
                </div>
              </div>
            <% end %>
          <% end %>
          <% if no_anime_in_season %>
            <div class="image-wrapper">
              <p>Аниме в этом сезоне нету</p>
            </div>
          <% end %>
        </div>

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">
                <i class='bx bx-first-page'></i>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">
                <i class='bx bx-last-page'></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4">
    <div class="filter-sidebar">
      <div class="filter-header">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-filter-right" viewBox="0 0 16 16">
          <path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z"/>
        </svg>
        <h3 style="font-size: 20px;">Фильтр</h3>
      </div>

      <div class="range-slider-container">
        <label>Выберите год выпуска</label>
        <p class="small-text-filter">Укажите пустое поле если не желвете искать по году</p>
        <div class="slider-inputs">
          <input type="number" id="selectedYear" min="1959" max="2024" onchange="updateYear(this.value)">
          <input type="range" class="form-range" id="customRange1" min="1959" max="2024" oninput="updateSlider(this.value)">
        </div>
      </div>

      <div class="filter-dropdown">
        <div class="dropdown-button" style="font-size: 16px;">Жанры ▼</div>
        <div class="dropdown-content">
          <input type="checkbox" name="genre-option" value="option1"><p class="list-filter">Опция 1</p><br>
          <input type="checkbox" name="genre-option" value="option2"><p class="list-filter">Опция 2</p><br>
          <!-- Добавьте другие опции по мере необходимости -->
        </div>
      </div>


      <div class="filter-dropdown">
        <div class="dropdown-button" style="font-size: 16px;">Статус ▼</div>
        <div class="dropdown-content">
          <input type="checkbox" name="genre-option" value="option1"><p class="list-filter">Опция 1</p><br>
          <input type="checkbox" name="genre-option" value="option2"><p class="list-filter">Опция 2</p><br>
          <!-- Добавьте другие опции по мере необходимости -->
        </div>
      </div>

      <div class="filter-dropdown">
        <div class="dropdown-button" style="font-size: 16px;">Тип ▼</div>
        <div class="dropdown-content">
          <input type="checkbox" name="genre-option" value="option1"><p class="list-filter">Опция 1</p><br>
          <input type="checkbox" name="genre-option" value="option2"><p class="list-filter">Опция 2</p><br>
          <!-- Добавьте другие опции по мере необходимости -->
        </div>
      </div>

      <div class="filter-dropdown">
        <div class="dropdown-button" style="font-size: 16px;">Озвучка ▼</div>
        <div class="dropdown-content">
          <input type="checkbox" name="genre-option" value="option1"><p class="list-filter">Опция 1</p><br>
          <input type="checkbox" name="genre-option" value="option2"><p class="list-filter">Опция 2</p><br>
          <!-- Добавьте другие опции по мере необходимости -->
        </div>
      </div>

      <div class="filter-dropdown">
        <div class="dropdown-button" style="font-size: 16px;">Возрастное ограничение ▼</div>
        <div class="dropdown-content">
          <input type="checkbox" name="genre-option" value="option1"><p class="list-filter">Опция 1</p><br>
          <input type="checkbox" name="genre-option" value="option2"><p class="list-filter">Опция 2</p><br>
          <!-- Добавьте другие опции по мере необходимости -->
        </div>
      </div>

      <div class="filter-dropdown btn-filter">
        <button type="button" class="btn btn-secondary btn-filter-width">Найти</button>
      </div>

    </div>
  </div>
</div>
