<head>
<link href='//fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="wrap">
		<div class="logo">
			<h1>422</h1>
			<p>Извините, Запись не прошла валидацию при сохранении!</p>

			<div class="sub">
			   <p><a href="<%=root_path%>" class="btn btn-secondary btn-play">Вернуться на главную</a></p>
			</div>
		</div>
	</div>
</body>