<head>
<link href='//fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="wrap">
		<div class="logo">
			<h1>429</h1>
			<p>Извините, сервер отклонил запрос, поскольку клиент превысил лимит на количество запросов за определённое время!</p>

			<div class="sub">
			   <p><a href="<%=root_path%>" class="btn btn-secondary btn-play">Вернуться на главную</a></p>
			</div>
		</div>
	</div>
</body>