.container_confidentiality {
    padding: 40px;
   }
   
   .capital_title2 {
       text-align: center;
       color: white;
   }
   h2 {
       color: white;
   }

   ul {
       margin: 10px 0;
       padding-left: 20px;
       color: white;
   }
   li {
       color: white;
       margin-bottom: 5px;
   }
   
   