main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #4f5d75;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 3px solid white;
}

.user-profile {
    text-align: center;
}

.avatar-image {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    object-fit: cover; /* сохраняет соотношение сторон и обрезает изображение, чтобы оно полностью заполняло контейнер */
    border: 1px solid white;
}

.name {
    margin-top: 10px;
    color: white;
}

.registration_date {
    font-size: 14px;
    color: white;
}

.status_user {
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
}

.trip3 {
    width: 100%;
    height: 2px;
    background-color: white;
}

.user-profile-btn {
    margin-top: 10px;
    width: 170px;
}

.img-botton-home {
    margin-bottom: 5px;
}

.img-botton-home2 {
    margin-bottom: 3px;
}

.wall {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #4f5d75;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 3px solid white;
}

.wall-name {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.form-sending1 {
    width: 300px;
}

.form-control {
    resize: none;
}