.container_rights_holders {
    padding: 40px;
   }
   
   .capital_title3 {
       text-align: center;
       color: white;
   }
   h2 {
       color: white;
   }
   .text_bottompages {
       margin: 10px 0;
       color: white;
   }
   ul {
       margin: 10px 0;
       padding-left: 20px;
       color: white;
   }
   li {
       color: white;
       margin-bottom: 5px;
   }
   
   