.info-anime {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 40px;
    background-color: #4f5d75;
    border: 3px solid white;
    border-radius: 10px;
}

.video-wrapper {
    margin-top: 40px;
}

.btn-play {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 220px;
}

.btn-description {
    width: 220px;
    margin-bottom: 10px;
}

.btn-list {
    width: 220px;
    margin-bottom: 30px;
}

.bi-plus {
    margin-bottom: 3px;
}
.poster-anime {
    width: 220px;
    height: 300px;
}

.info-column {
    color: white;
    margin-bottom: 60px;
}

.name {
    color: white;
    margin-bottom: 15px;
}

.trip2 {
    margin-top: 40px;
    width: 100%;
    height: 2px;
    background-color: white;
}

.trip5 {
    margin-bottom: 50px;
    width: 100%;
    height: 2px;
    background-color: white;
}

.description-anime {
    color: white;
}

.screenshots-anime {
    margin-top: 20px;
    color: white;
    white-space: nowrap;
}

.screenshots-anime-img {
    width: 300px;
    height: 150px;
    padding: 5px;
    padding-top: 10px;
}

.trailer-video {
    right: 20px;
}

.trailer-video-name {
    margin-top: 10px;
    margin-bottom: 15px;
    color: white;
}

.modal-header {
    margin-top: 15px;
    border-bottom: 3px solid white;
}

#closeModalBtn:hover svg,
#closeModalBtn:hover a {
    transition: all 0.3s ease;
    fill: #999999; /* Желаемый цвет при наведении */
}

.shiki_img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.shiki_img-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #f9f9f9;
    color: black;
    width: 220px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 0;
    margin-bottom: 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 220px;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Ensures the dropdown is aligned directly below the button */
    left: 50%; /* Align with the button */
    transform: translateX(-50%); /* Center align */
    margin: 0; /* Ensure no margin */
    padding: 10px; /* Optional: Add padding for better look */
    border-radius: 10px;
}

.dropdown-content form {
    color: black;
    text-decoration: none;
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack items vertically */
    background: none;
    border: none;
    width: 100%;
    text-align: center; /* Center text within the form */
    cursor: pointer;
    margin: 0; /* Ensure no margin */
}

.dropdown2:hover .dropdown-content {
    display: block;
}

.dropbtn2:hover, .dropdown-content form:hover {
    background-color: #ddd;
}

.btn-list2 {
    width: 100%; /* Ensure buttons take full width of the form */
    margin-top: 5px;
    border: 2px solid #4f5d75;
}
