<div class="block">
  <div class="row">
    <div class="col-md-12">
      <div class="sidebar4">
        <div class="movie3">

<div class="container_aboutus">
        <div class="capital_title"><h1 style="margin-bottom: 20px;">Пользовательское соглашение</h1></div>

                  <div class="trip4"></div>

        <h2>1. Общие положения</h2>
        <p class="text_bottompages">1.1. Используя/посещая интернет-ресурс AnimeHub (далее — Ресурс), вы соглашаетесь с настоящим Пользовательским соглашением (далее — Соглашение). Если вы не согласны с любым из пунктов настоящего Соглашения, пожалуйста, прекратите использование Ресурса.</p>
        <p class="text_bottompages">1.2. Соглашение может быть изменено Администрацией Ресурса без уведомления пользователей. Новая редакция Соглашения вступает в силу по истечении 3 (трех) дней с момента ее публикации на Ресурсе, если иное не предусмотрено новой редакцией.</p>

        <h2>2. Ответственность пользователя</h2>
        <p class="text_bottompages">2.1. Пользователь использует Ресурс на свой собственный риск.</p>
        <p class="text_bottompages">2.2. Ресурс не контролирует и не несет ответственности за содержание материалов, размещенных пользователями или третьими лицами. Администрация не отвечает за последствия использования информации, полученной через Ресурс, и за любые убытки, причиненные использованием или невозможностью использования Ресурса.</p>
        <p class="text_bottompages">2.3. Пользователь обязуется не передавать свои учетные данные третьим лицам. Администрация не несет ответственности за последствия, вызванные передачей учетных данных третьим лицам.</p>

        <h2>3. Ограничения на использование Ресурса</h2>
        <p>3.1. Пользователю запрещено размещать на Ресурсе:</p>
        <ul>
            <li>вредоносные программы или файлы, направленные на нарушение работы оборудования и ПО;</li>
            <li>материалы, нарушающие права третьих лиц, включая авторские и смежные права;</li>
            <li>спам или другие несанкционированные рекламные сообщения;</li>
            <li>ссылки на ресурсы, содержание которых противоречит законодательству РФ.</li>
        </ul>
        <p class="text_bottompages">3.2. Пользователь не имеет права выдавать себя за другого человека или представителя организации, включая сотрудников Администрации Ресурса.</p>

        <h2>4. Гарантии работоспособности</h2>
        <p class="text_bottompages">4.1. Доступ к Ресурсу предоставляется на условиях "как есть" ("as is") без каких-либо гарантий. Администрация не гарантирует бесперебойную работу Ресурса и не несет ответственности за любые убытки, вызванные его использованием или невозможностью использования.</p>

        <h2>5. Права Администрации Ресурса</h2>
        <p class="text_bottompages">5.1. Все споры, связанные с настоящим Соглашением, регулируются в соответствии с законодательством РФ.</p>
        <p class="text_bottompages">5.2. Пользователь соглашается с тем, что нормы о защите прав потребителей не применимы к использованию Ресурса, так как он не предоставляет возмездных услуг.</p>
        <p class="text_bottompages">5.3. Отсутствие действий со стороны Администрации в случае нарушения пользователем условий Соглашения не лишает Администрацию права предпринять соответствующие действия в будущем.</p>

        <h2>6. Принятие условий</h2>
        <p class="text_bottompages">6.1. Если вы не согласны с условиями настоящего Соглашения, вы должны немедленно покинуть Ресурс и прекратить его использование.</p>
    </div>

        </div>
      </div>
    </div>
  </div>

</div>
