<div class="block">
  <div class="row">
    <div class="col-md-12">
      <div class="sidebar4">
        <div class="movie3">

    <div class="container_rights_holders">
        <div class="capital_title2"><h1 style="margin-bottom: 20px;">Для правообладателей</h1></div>

        <div class="trip4"></div>

        <p class="text_bottompages">Деятельность сайта AnimeHub осуществляется в соответствии с законодательством Российской Федерации в области защиты информации и авторских прав на контент. Все размещенные на ресурсе материалы находятся в свободном доступе и могут быть бесплатно скачаны из интернета. Сбор информации в сети и размещение контента в каталоге производится в автоматическом режиме.</p>
        
        <p class="text_bottompages">Публикация нелицензионного, похищенного контента и материалов, защищенных авторским правом, не допускается. Администрация размещает только любительские русскоязычные материалы из свободных источников при использовании автоматической системы.</p>

        <p class="text_bottompages">На сайте AnimeHub публикуются только фрагменты материалов, переведенные на русский язык, а также контент с любительским переводом для ознакомительного просмотра. Размещение оригинальных, непереведенных материалов невозможно.</p>

        <p class="text_bottompages">Администрация ресурса предлагает сотрудничество с правообладателями контента. В случае нарушения прав собственности сайт обязуется убрать неправомерно размещенный материал или предложить выгодные условия сотрудничества правообладателю.</p>

        <p class="text_bottompages">Если вы обнаружили материал, представленный на нашем сайте, который нарушает ваши авторские права, или же дискредитирует Вашу компанию, предоставляя неверную или искаженную информацию, пожалуйста, свяжитесь с нами для решения этого вопроса.</p>

        <h2>Как сообщить о нарушении прав</h2>
        <p class="text_bottompages">Для этого необходимо отправить e-mail с вашего корпоративного почтового ящика, содержащий:</p>
        <ul>
            <li>контактные данные, реквизиты вашей компании;</li>
            <li>прямую ссылку(ссылки) на материал, который вы считаете спорным;</li>
            <li>заверенные сканированные копии документов, подтверждающих ваше эксклюзивное право на материал;</li>
            <li>в случае, если вы представляете интересы другой компании – копии документов на посреднические услуги;</li>
        </ul>
        <p class="text_bottompages">На адрес: <a href="mailto:abuse@animehub.org">abuse@animehub.org</a></p>

        <p class="text_bottompages">Вся информация будет проверена, и администрация сайта в кратчайшие сроки свяжется с вами для урегулирования спорного вопроса.</p>

        <h2>Разрешения для встраивания видео</h2>
        <ul>
            <li><a href="https://www.youtube.com" target="_blank">YouTube.com</a></li>
            <li><a href="https://ok.ru" target="_blank">OK.ru</a></li>
            <li><a href="https://rutube.ru" target="_blank">Rutube.ru</a></li>
        </ul>
    </div>

        </div>
      </div>
    </div>
  </div>

</div>
